* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: black;
}

h1 {
  color: whitesmoke;
  text-align: center;
}

h1:hover {
  color: cadetblue;
}

buttom a {
  color: aqua;
}

buttom a:hover {
  color: burlywood;
}
