* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-body: #000000;
  --color-h1: #f5f5f5;
  --color-h1-hover: #5f9ea0;
  --color-button-a: #00ffff;
  --color-button-a-hover: #deb887;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-body);
}

h1 {
  color: var(--color-h1);
  text-align: center;
}

h1:hover {
  color: var(--color-h1-hover);
}

button a {
  color: var(--color-button-a);
}

button a:hover {
  color: var(--color-button-a-hover);
}
