* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-body: #000000;
  --color-h1: #f5f5f5;
  --color-button-a: #2020b8;
  --color-button-a-hover: #0000ff;
}

body,
button {
  font-size: 1.6rem;
  background-color: var(--color-body);
}

.app {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 1.5rem;
}

h1 {
  color: var(--color-h1);
  text-align: center;
}

button {
  border: none;
  text-align: left;
}

button a {
  color: var(--color-button-a);
  text-decoration: none;
}

button a:hover {
  color: var(--color-button-a-hover);
}
