body{
    background-color: aquamarine;
}

h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#meubotao{
    margin: 50px;
    margin-top: 20px;
}

#minhacaixadechecagem{
    margin-bottom: 20px;
}